:root {
    --baby-gray: rgb(224, 224, 224);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font: caption;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--baby-gray);
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(214, 214, 214);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

main {
    overflow: auto;
}

#show-modal {
    margin-right: 10px;
}

#no-items {
    color: var(--baby-gray);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    top: 100px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#modal {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 15px;
    flex-wrap: wrap;
}

#url {
    margin-bottom: 15px;
}

#add-item {
    margin-right: 15px;
}



